@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto:wght@300;400&display=swap');

/* .muestra{
    background-color:#000;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.muestra-carousel{
    width:80%;
} */
.muestra{
    width:100%;
/*     display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center; */
    background-color:#000;
    position:relative;
}

.sala{
    width:100%;
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center; 
}
.sala-img{
	-webkit-opacity:0.8;
	opacity:0.8;
	-webkit-transition: .5s ease;
    transition: .5s ease;
}

.muestra-title{
    z-index:3;
    position:absolute;
    color:#fff;
    font-family: 'Alfa Slab One', cursive;
    /* width:500px; */
    text-align: center;
    text-decoration:none;
}
.muestra-title-size{
    font-size:72px;
}
.muestra-title:hover {
    -webkit-transition: .5s ease;
    transition: .5s ease;
    color:#D1F218;
    
} 
.muestra-subtitle{
    z-index:3;
    position:absolute;
    bottom:20px;
    font-size:42px;
    background-color:#D1F218;
    padding: 2px 10px;
}
.muestra-subtitle-link{
    text-decoration:none;
    color:#000;
}

@media only screen and (max-width: 600px) {
    .muestra-title-size{
        font-size:18px;
        
    }
    .muestra-mobile{
        display:block;
    }
    .muestra-desktop{
        display:none;
    }
}
.muestra-mobile{
    display:none;
}