@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto:wght@300;400&display=swap');


.banner{
    width:100%;
    height:500px;

}
.container{
    margin:0;
    padding:0;
}
.banner-text{
    height:500px;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:left;
    background-color:#D1F218;
}
.banner-image{
    display:flex;
    justify-content: center;
    align-items: center;
}
.banner-title{
    font-family: 'Alfa Slab One';
    padding-left:20%;
    width: 80%;
}
h3.banner-subtitle{
    font-family: 'Roboto';
    padding-left:20%;
    width: 80%;
}
.image-home{
    width:500px;
    height:auto;
}
.image-home-chiqui{
    width:300px;
    height:auto;
}
@media only screen and (max-width: 600px) {
    .banner-desktop {
      display:none;
    }
  }
.banner-image{  
    background-color:#000;
}