@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto:wght@300;400&display=swap');

.muestra{
    width:100%;
/*     display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center; */
    background-color:#000;
}

.sala{
    width:100%;
}
.sala-img{
	-webkit-opacity:0.8;
	opacity:0.8;
	-webkit-transition: .5s ease;
    transition: .5s ease;
}
.sala-img:hover {
	-webkit-pacity:.3;
	opacity:.3;
}
