@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.top{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    margin-top:35px;
    margin-bottom:20px;
}
ul{
    display:flex;
    flex-direction:row;
}
.language{
    margin-right:10px;
    font-family: 'Bebas Neue';
    font-size:16px;
    text-decoration:none;
    list-style:none;
    color:#000;
}
.language:hover{
    color:#187DF2;
}
.logo{
    width:300px;
    height:auto;
}
.icono{
    color:white;
}
.navbar{
    background-color:#fff;
    font-family: 'Bebas Neue';
    font-size:24px;
    width:100vw;
}
.hola{
    position:sticky;
    top:0;
}
.navbar-light .navbar-nav .nav-link{
    color:#000;
}
.navbar-light .navbar-nav .nav-link:hover{
    color:#F21401;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand{
    color:#F3D250;
}
.hola{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}