.avatar{
    border:5px solid #2b2b2b;
}
.row{
    align-items: center;
    padding-top:50px;
    }
  .intro{
        background-color:#2b2b2b;
        color:#F3D250;
        text-align: center;
    }
.skill-icon{
    color:#2b2b2b;
    font-size:48px;
}